[submodule "system/cornucopia"]
	path = system/cornucopia
	url = https://github.com/traP-jp/cornucopia
[submodule "system/pteron/client"]
	path = system/pteron/client
	url = https://github.com/traP-jp/pteron-client
[submodule "system/pteron/server"]
	path = system/pteron/server
	url = https://github.com/traP-jp/pteron-server
